@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Regular.woff2') format('woff2'),
        url('GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

