@import "../assets/fonts/style.scss";
@import "./common/mixin";
@import "./common/animations";
@import "./common/button";
@import "./common/input";
@import "./common/table";
@import "./common/tabs";
@import "./common/tag";
@import "./common/modal";

:root {
  --grey: #7a755d;
  --grey2: #47463d;
  --green-rgb: 27, 94, 33;
  --yellow-rgb: 225, 115, 40;
  --red-rgb: 172, 50, 29;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "GT America", sans-serif;
  outline: none;
}

a {
  text-decoration: none;
}

body,
button,
input {
  font-size: 16px;
  color: #000;
}

button {
  cursor: pointer;
}

.app-container {
  display: flex;
  min-height: 100vh;

  &__side-bar {
    width: 100%;
    max-width: 96px;
    background: #fcfcfa;
    border-right: 1px solid #f6f6f1;
    position: sticky;
    padding: 32px 16px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    height: 100vh;

    @include mobile {
      opacity: 0;
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      pointer-events: none;
      transition: 0.2s ease-out;
      transform: translate(-100px, 0);

      &[data-show="true"] {
        opacity: 1;
        transform: translate(0px, 0);
        pointer-events: unset;
      }
    }

    &__logo {
      margin: 0 auto;
      display: block;
      width: fit-content;
    }

    a:not(.app-container__side-bar__logo) {
      margin: 0 auto;
      display: block;
      width: fit-content;
      padding: 16px 22px;
      border-radius: 8px;
      transition: 0.2s ease;

      &:hover {
        background: #f4f3ef;
      }
    }

    &__main-links {
      margin: 48px 0;

      a {
        &:last-of-type {
          border-top: 1px solid #f4f3ef;
        }
      }
    }
  }

  &__main {
    flex: 1;

    &__page {
      padding: {
        right: 80px;
        left: 80px;
      }

      @include mobile {
        padding: {
          left: 20px;
          right: 20px;
        }
      }
    }
  }
}

.app-header {
  padding: 24px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include mobile {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    padding: {
      left: 20px;
      right: 20px;
    }
  }

  &__heading {
    font-size: 32px;
    font-weight: 700;

    @include mobile {
      width: 100%;
      font-size: 24px;
      margin-top: 40px;
    }
  }

  &__profile-btn {
    display: flex;
    align-items: center;

    &__avatar {
      height: 40px;
      width: 40px;
      border-radius: 100vh;
      margin-right: 8px;
      background: #dfddd3;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 24px;
      }
    }

    &__arrow {
      margin-left: 8px;

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__profile-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      width: 100%;
    }
  }

  &__menu-btn {
    display: flex;
    align-items: center;
  }

  &__mobile-menu {
    display: none;

    &__overlay {
      display: none;

      @include mobile {
        background: rgba(66, 66, 66, 0.384);
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        display: block;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s ease-out;

        &[data-show="true"] {
          opacity: 1;
          pointer-events: unset;
        }
      }
    }

    @include mobile {
      display: block;
    }
  }
}
